/node_modules
/npm-debug.log
.DS_Store
/coverage
/.idea
/src
/dist/assets
/dist/index.html
/dist/lotteryflip.js.map
/dist/prizes1.js
/dist/prizes2.js
/dist/themedata1.js
/dist/themedata2.js
yarn.lock
.babelrc
.eslintrc
.gitignore
postcss.config.js
theme.config.js
webpack.config.js
yarn-error.log